.another-function {
  float: right;

  .link-url {
    display: inline-block;
    margin: 0px;
    padding: 0 0 2px 23px;
    text-decoration: underline;
    font-size: 14px;
    color: #e77400c5;
    // background: url('') no-repeat 0 1px;
    background: #e774002d no-repeat 0 1px;
    margin-left: 14px;
  }
}
